<% provide(:title, @product.name) %>

<%= render 'shared/light_section' %>

<section class="mainContent clearfix">
  <div class="container">
    <div class="row singleProduct">
      <div class="col-xs-12">
        <div class="media">
          <%= render 'thumbnail', product: @product %>
          <%= render 'product_body', product: @product %>
        </div>
      </div>
    </div>
    <div class="row productsContent">
      <div class="col-xs-12">
        <div class="page-header">
          <h4>関連商品</h4>
        </div>
      </div>
      <%= render partial: 'related_products', collection: @related_products, as: :related_product %>
    </div>
  </div>
</section>
