<% provide(:title, @product.name) %>

<%= render 'shared/light_section' %>

<section class="mainContent clearfix">
  <div class="container">
    <div class="row singleProduct">
      <div class="col-xs-12">
        <div class="media">
          <%= render 'thumbnail', product: @product %>
          <%= render 'product_body', product: @product %>
        </div>
      </div>
    </div>
    <%= render 'related_products', products: @related_products %>
  </div>
</section>
