<% provide(:title, @product.name) %>

<%= render 'potepan/products/light_section' %>

<section class="mainContent clearfix">
  <div class="container">
    <div class="row singleProduct">
      <div class="col-xs-12">
        <div class="media">
          <%= render 'potepan/products/slidebar' %>
          <%= render 'potepan/products/body' %>
        </div>
      </div>
    </div>
  <%= render 'potepan/products/related_products' %>
  </div>
</section>
