<% provide(:title, @product.name) %>

<%= render 'shared/light_section' %>

<section class="mainContent clearfix">
  <div class="container">
    <div class="row singleProduct">
      <div class="col-xs-12">
        <div class="media">
          <%= render partial: 'potepan/products/thumbnail', :locals => { product: @product } %>
          <%= render partial: 'potepan/products/product_body', :locals => { product: @product } %>
        </div>
      </div>
    </div>
    <%= render partial: 'potepan/products/related_products', :locals => { products: @related_products } %>
  </div>
</section>
